<!DOCTYPE html>
<html>
<head>
  <title>Car Listings</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>

<%= link_to "List of Cars", cars_path  %>
<%=  link_to "List of Manufacturers", manufacturers_path %>

<%= yield %>

</body>
</html>
