<h1>New Answer for <%= @question.title%></h1>
<% if @error %>
  <%= flash[:error] %>
<% end %>

<%= form_for [@question, @answer] do |f| %>
  <div class="field">
    <%= f.label :body, "Answer: " %><br />
    <%= f.text_area :body %> <br />
    <%= f.text_field :question_id, :value => params[:question_id] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
