<h1>New Car Form </h1>

<%= form_for [@manufacturer, @car] do |f| %>
  <%= f.label :manufacturer %>
  <%= f.select(:manufacturer, options_from_collection_for_select(@manufacturer_collection, 'id', 'name')) %>
  <br />

  <%= f.label :color %>
  <%= f.text_field :color %>
  <br />

  <%= f.label :year %>
  <%= f.text_field :year %>
  <br />

  <%= f.label :mileage %>
  <%= f.text_field :mileage %>
  <br />

  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />

  <%= f.submit "Submit" %>
<% end %>
